.RegaBlock {
  background-color: #309959;
  justify-content: center;
  margin-top: 2rem;
}
.registr {
  display: flex;
  justify-content: center;
}
.formreg {
  background-color: #309959;
}
.btn {
  background-color: #309959;
}
.formlog {
  background-color: yellowgreen;
  margin-top: 5%;
}
.fon {
  background-color: #309959;
}
/* .TextRegistration {
  width: 100px;
} */
.ErrorLogin {
  color: red;
}
.ErrorLogin2 {
  color: red;
}

.passwordControl {
  position: relative;
  top: 30%;
  right: 6px;
  width: 20px;
  height: 20px;
  background: url(../img/eye-solid.svg);
}
