.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    '. a a .'
    '. a a .';
}
.item1 {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
.item2 {
  grid-area: a;
  align-self: center;
  justify-self: center;
  margin-top: 350px;
}

.text_box {
  position: absolute;
  top: 40vh;
  left: 35vw;
  z-index: 20;
}

.shadow_t {
  text-shadow: 1px 2px 1px #000;
}

.noneSdw {
  text-shadow: none !important;
}
.shw__div {
  background-color: #000;
  opacity: 90%;
  margin: none;
  padding: none;
  min-width: 100%;
}
