.navbar {
  background-color: #309959;
  height: 90px;
}
#navbarCollapse {
  background-color: #309959;
  /* height: 70px; */
}

.navitem {
  color: white;
}

.block li {
  margin-right: 20px;
}
.block li a {
  font-size: 1.3rem;
}
