.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: #309959;
}

.full-screen__body {
  /*position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 120px 15px;
  text-transform: uppercase;*/
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
}

.separatediv {
  margin-top: 27vh;
  margin-right: 400px;
  /* background-color: black; */
  /*width: 50%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

.text__main {
  color: #f4f680;
}
.text__main_p {
  padding: 0;
  font-size: 72px;
}

.cst__btn {
  margin-top: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 700;
  border-width: 1px;
  border-radius: 4px;
  /*position: absolute;*/
  width: 240px;
  height: 52px;
  /*margin-left: 5vw;*/
  /* top: 53vh; */
  border-color: transparent;
  font-size: 18px;
  color: #2f6099;
  background: #a5d3f4;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.star {
  position: absolute;
  top: -100px;
  width: 125px;
  height: 125px;
  transform: translate(-50%, 50%);
  /*left: 65vw;*/
  /*right: 45vw;*/
  /*top: 18vh;*/
  z-index: -1;
}

.star__text {
  width: 230px;

  z-index: 3;
  /*left: 68vw;*/
  /*right: 45vw;*/
  /*top: 25vh;*/

  /*font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;*/

  color: #ffffff;
}
.star__text_mt {
  margin-top: 10px;
  width: 230px;
  color: #f4f680;
  text-decoration: none;
}

.map__card {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.map__card__body {
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  /*align-items: center;*/
  flex-direction: column;

  text-transform: uppercase;
}

.ymaps-2-1-79-ground-pane {
  -webkit-filter: grayscale(100%);
}

.wrapper__image__group {
  margin-top: 27vh;
  font-size: 22px;
  position: relative;
  z-index: 3;
}
