.forSlicer {
  width: 450px !important;
  transform: scale(1.05);
  transition: 1s;
}

.swiper-slide-visible:hover {
  transform: scale(1.05);
  transition: 0.7s;
}

.events-word {
  color: white;
  -webkit-text-stroke: 2.5px #2f9959;
}

.company-word {
  color: #2f9959;
}

.eventsHeader {
  font-size: 60px;
}

.subTitle {
  font-size: 1.4rem;
  padding-top: 20px;
  color: #0a4120b9;
  font-weight: 500;
}

.min__h {
  min-height: 300px !important;
}

.min__w {
}
